{
    "services": {
        "phlack": {
            "class": "Crummy\\Phlack\\Bridge\\Guzzle\\PhlackClient",
            "params": {
                "username": "",
                "token": ""
            }
        }
    }
}